<html>

<head>
  <title>MEAN Systems</title>
  <script src="/lib/angular.min.js"></script>
  <script src="/lib/angular-ui-router.min.js"></script>
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/underscore-min.js"></script>
  <script src="/javascripts/script.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.min.css">
</head>

<body ng-app="mainApp">

  <div class="header-bar">
    <header>MEAN Systems</header>
    <nav></nav>
  </div>

  <main>
    <ui-view></ui-view>
  </main>

</body>

</html>
