<html>
  <head>
    <title>My Angular App!</title>
    <script src="/lib/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="mainApp" ng-controller="MainCtrl">
    <div>
      {{test}}
    </div>
  </body>
</html>
