@import 'colors';
@import 'fonts';
@import 'dimensions';
@import 'shadows';

.header-bar {
  @include box-shadow-standard;
  align-items: center;
  background-color: $color-base-tone;
  color: $color-text-light;
  display: flex;
  height: 3.5em;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: $z-overlay;

  > * {
    padding: $padding-standard;
  }

  > header {
    @include title-font;
    flex: 1 0 auto;
  }
}

.list {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: $padding-standard;
}

.list-element {
  flex: 1 0 auto;
  padding-bottom: .5em;

  &:last-child {
    padding-bottom: 0;
  }

}

.post {
  
  .title {
    font-weight: bold;
    padding-bottom: .2em;
  }

  .upvotes {
    font-style: italic;
  }

}
